.downloads {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas:
		"repos misc";
	.dl-icon {
		width: 20px;
		height: 20px;
	}
	.repos-title {
		text-align: center;
	}
	.repos {
		grid-area: repos;
		margin: auto;
		.table-header {
			text-align: left;
		}
		.html-link {
		}
	}
	.misc {
		grid-area: misc;
		.misc-title {
			text-align: center;
		}
		.misc-list {
			padding: 0;
			margin: 0;
			list-style-type: none;
			.misc-item {
				padding: 0.5em 0;
				text-align: center;
				text-decoration: underline;
				font-size: 1.5em;
			}
		}
	}
}

