[Unit]
Description=Jer.cx HTTPS service
After=network.target postgresql.service
Requires=postgresql.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
WorkingDirectory=/usr/src/jer.cx
ExecStart=/usr/bin/jer.cx

[Install]
WantedBy=multi-user.target
