[Unit]
Description=Jer.cx HTTP service
After=network.target
Requires=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
WorkingDirectory=/srv/http
ExecStart=/usr/local/bin/quark -p 8080 -h 0.0.0.0 -d /srv/http -x

[Install]
WantedBy=multi-user.target
