[Unit]
Description=Jer.cx HTTPS service
After=network.target mysqld.service
Requires=mysqld.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
WorkingDirectory=/www
ExecStart=/www/jer.cx

[Install]
WantedBy=multi-user.target
