.downloads {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas:
		"repos misc";
	.dl-icon {
		width: 20px;
		height: 20px;
	}
	.repos-title {
		text-align: center;
	}
	.repos {
		grid-area: repos;
		margin: auto;
		.table-header {
			text-align: left;
		}
	}
}

